# Cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
housingenv/

# Dataset files
datasets/

# Model files
models/

# Log files
*.log

# Config file
config.json

# System files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VScode settings
.vscode/
